body {
    background-image: url("../images/subtle_white_feathers.png");   
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
h1 {
    background: #439692;
    position: absolute;
    padding: 40px;
    text-align: left;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 400px;
}
.topnav {
    background: white;
    position: absolute right;
    padding: 40px;
    text-align: right;
    word-spacing: 30px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-width: 5px;
}
h2 {
    color: #439692;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width:960px;
    line-height: 2;
    margin: 0 auto 0 auto;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;

}

.info {
    text-align: center;
    float: center;
}

#name {
    width: 100%;
    padding:2%;
    border: solid;
    border-color: rgb(223, 221, 221);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: unset;
    font-family: Arial, Helvetica, sans-serif;
}

#email {
    width: 100%;
    padding:2%;
    border: solid;
    border-color: rgb(223, 221, 221);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: unset;
    font-family: Arial, Helvetica, sans-serif;
}

#message {
    width: 100%;
    padding:2%;
    border: solid;
    border-color: rgb(223, 221, 221);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: unset;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit]{
    background-color: #439692;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 0px;
} 

.backfooter {
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: #439692;
    position: relative;
    z-index: 1;
    width:100%;
    height:70px;
    top:-0px;
    left: 0;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: rgb(86, 86, 86);
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100px;
    top: -60px;
    left: 0;

    color: white;
    text-align: center;
}