body {
    background-image: url("../images/subtle_white_feathers.png");
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    
}

h1 {
    background: #202020;
    position: absolute;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 400px;

}

.topnav {
    background: white;
    position: absolute right;
    padding: 40px;
    text-align: right;
    word-spacing: 30px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-width: 5px;

}

h2 {
    color: #202020;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profilepic {
    clear: both;
    display: block;
    align-content: left;
    margin-left: 20px;
    margin-right: 20px;
    width:200px; 
    height:275px; 
    float: left;

}
#content {
    max-width: 1000px;
    min-width: auto;
    line-height: 1.8;
    margin:  auto auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* color: black;
    border-style: solid; */
    /* border-color: white;
    background-color: white; */
    text-align: auto;

}

.title {
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#lists {
    padding-left: 15%;
    padding-top: 5%;
}


.column {
    float: left;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pdf {
    float: left;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.lottie {
padding-left: 32%;
padding-right: 20%;
}

#plant {
    padding-top: 10%;
}

#fact {
    border: #202020;
    border-style: double;
    padding: 1%;
}

#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 105%;
}