html body {
    background-image: url("../Images/perspective3d.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position-x: center;
}

img {
    pointer-events: none;
}