body {
    background-image: url("../images/subtle_white_feathers.png");
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    
}

.carousel-inner > .carousel-item {
    height: 650px;
}

h1 {
    background: #202020;
    position: absolute;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 400px;

}
#mission {
    text-align: center;
}

.topnav {
    background: white;
    position: absolute right;
    padding: 40px;
    text-align: right;
    word-spacing: 30px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-width: 5px;

}

h2 {
    color: #202020;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profilepic {
    clear: both;
    display: block;
    align-content: left;
    margin-left: 20px;
    margin-right: 20px;
    width:200px; 
    height:275px; 
    float: left;

}


.column {
    float: left;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
