body {
    background-image: url("../images/subtle_white_feathers.png");   
}
h1 {
    background: #439692;
    position: absolute;
    padding: 40px;
    text-align: left;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 400px;
}
.topnav {
    background: white;
    position: absolute right;
    padding: 40px;
    text-align: right;
    word-spacing: 30px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-width: 5px;
}

.content {
    width:960px;
    line-height: 1.8;
    margin: 0 auto 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: auto;

}

.card {
    display: inline-block;
    width: 300px;
    height: 200px;
    position: relative;
    padding: 20px;
    margin: 0px;

}

.card-label {
    clear: both;
    width: 447px;
    background-color: #439692;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 10px;
    text-align: center;
    bottom: 0;

}

h2 {
    color: #439692;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width:960px;
    line-height: 2;
    margin: 0 auto 0 auto;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    border-style: solid;
    border-color: white;
    background-color: white;
    text-align: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;

}

#hangman {
    min-width: auto;
    max-width: auto;
}

#RPGGame {
    min-width: auto;
    max-width: auto;
}

#triviagame {
    min-width: auto;
    max-width: auto;
}

#infowidget {
    min-width: auto;
    max-width: auto;
}

#rockpaperscissors {
    min-width: auto;
    max-width: auto;
}



.backfooter {
    clear: both;
    background-color: #439692;
    position: relative;
    z-index: 1;
    width:100%;
    height:70px;
    top:-0px;
    left: 0;
}
.footer {
    clear: both;
    background-color: rgb(86, 86, 86);
    position: relative;
    z-index: 2;
    width: 100%; 
    height: 100px;
    top: -60px;
    left: 0;

    color: white;
    text-align: center;
}

.footercontainer {
    min-width: auto;
    max-width: auto;
}